body{
	background-color: #8aaae5;
	font-family: Garamond;
	margin: 0;
	padding: 0;
	/*background: url(../back_img.jpg) no-repeat center center fixed;*/
	background-size: cover;
}

#main_header img{
	float: left;
	margin-right: 20px;
}

#main_header{
	/*background: url(../logo.jpg) no-repeat left fixed;*/
	background-color: #243665;
	color: #fbeaeb;
	margin: 0;
	padding: 20px;
	position: relative;
}

#main_header h1{
	margin-top: 7px;
	margin-bottom: 0;
	float:left;
}

/*list items in nav-bar*/
#main_header li{
	list-style: none;
	display: inline;
	padding: 10px;
	margin: 20px;
	margin-top: 0px;
	font-size: 16px;
	font-family: cursive;
}

#main_header a{
	text-decoration: none;
	color: #fbeaeb;
}

#main_header ul{
	text-align: right;
}

/*scrolling text in header*/
#main_header #text{
	font-size: 16px;
	margin-top: 0;
	font-family: cursive;
}

#right_aside{
	width: 16%;
	background-color: #fbeaeb;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	height: 80%;
}

.button{
	padding: 20px;
	background-color: #243665;
	font-family: cursive;
	color: #fff;
	border-radius: 50px;
	width: 200px;
	height: 90px;
	margin: 15px;
	border: 2px solid #243665;
}

.button p{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.button a{
	font-size: 20px;
	color: #8aaae5;
	text-decoration: none;
}

.button:hover, #active{
	background-color: #fbeaeb;
	color: #243665;
}

form{
	position: absolute;
    top: 150px;
    bottom: 0;
    right: 0;
    left: 200px;
    height: 500px;
    width: 500px;  
	text-align: center;
	padding: 7px;    
    margin: auto;
	border: 4px #000;
	border-radius: 50px 50px 50px 50px;
	outline: 0;
	font-size: 16px;
	vertical-align: baseline;
	background: #fbeaeb;
}

#display {
	margin-top: 30px;
	margin-bottom: 40px;
	width: 80%;
	height: 60px;
	text-align: right;
	font-size: 1.5rem;
	background-color: #fff;
	color: #333;
	font-family: cursive;
}

.digit {
	font-size: 2rem;
	font-family: cursive;
	background-color: #8aaae5;
	height: 55px;
	width: 20%;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	margin-bottom: 20px;
	margin-right: 5px;
}

.oper {
	font-size: 2rem;
	font-family: cursive;
	background-color: #243665;
	height: 55px;
	width: 20%;
	border-radius: 20px;
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	color: #fbeaeb;
}

#clearMem {
	background-color: crimson;
	font-family: cursive;
	margin-right: 5px;
}

#equal {
	background-color: orange;
	font-family: cursive;
	margin-right: 5px;
}


#clear{
	clear: both;
}

#footer{
	margin-top: 0;
	background-color: #243665;
	height: 40px;
	margin-bottom: 0;
	color: #fbeaeb;

}