body{
	background-color: #8aaae5;
	font-family: Garamond;
	margin: 0;
	padding: 0;
	/*background: url(../back_img.jpg) no-repeat center center fixed;*/
	background-size: cover;
}


#main_header{
	background-color: #243665;
	color: #fbeaeb;
	margin: 0;
	padding: 20px;
	position: relative;
}

#main_header h1{
	margin-top: 0;
}

#main_header p{
	font-size: 14px;
}

#right_aside{
	width: 16%;
	background-color: #fbeaeb;
	margin-top: 0;
	margin-bottom: 0;
	float: left;
	height: 80%;
}

.button{
	padding: 20px;
	background-color: #8aaae5;
	font-family: cursive;
	color: #fff;
	border-radius: 50px;
	width: 200px;
	height: 90px;
	margin: 15px;
	border: 2px solid #243665;
}

.button p{
	padding: 0;
	margin: 0;
	font-size: 12px;
}

.button a{
	font-size: 20px;
	color: #333;
	text-decoration: none;
}

.button:hover, #active{
	background-color: #fff;
	color: #243665;
}

#main_content{
	font-family: cursive;
	float: left;
	color: #243665;
	margin: 30px;
	text-align: center;
	width: 60%;
}

form{
	position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    height: 400px;
    width: 500px;  
	text-align: center;
	padding: 7px;    
    margin: auto;
	border: 4px #000;
	border-radius: 50px 50px 50px 50px;
	outline: 0;
	font-size: 16px;
	vertical-align: baseline;
	background: #555;
}

.input{
	margin: 10px; 
	height: 20px;
}